@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
}

button {
  color: hsl(0, 0%, 100%);
}

* {
  font-family: 'Roboto', sans-serif;
}

.flex-container,
.container-2 {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  max-width: 375px;
}

.text-div,
.container-2 {
  padding: 0 30px;
}

.container-2 {
  padding-top: 20px;
  height: 900px;
  display: none;
}

.container-2 p {
  margin-top: -1em;
}

h2 {
  font-size: 2.5rem;
}

ul {
  margin: 30px 0;
}

li {
  list-style: none;
  line-height: 1.6em;
  margin: 0.5em 0;
}

li > img {
  margin-left: -2.5em;
}

li > label {
  margin-left: 0.7em;
}

li > img + label {
  display: inline-block;
  vertical-align: top;
}

.email-div {
  margin-top: 3em;
}

.email-div p {
  font-size: 1rem;
  font-weight: 700;
}

#email {
  border: 1px solid hsla(231, 7%, 60%, 0.3);
}

#email,
button {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
}

#email,
#email::placeholder {
  text-indent: 20px;
}

#subscribe-button {
  margin-top: 2em;
  border-style: none;
}

#dismiss-button {
  margin-top: 40em;
}

button {
  background-color: hsl(234, 29%, 20%);
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  body {
    background-color: hsl(234, 29%, 20%);
  }

  .flex-container {
    flex-direction: row-reverse;
    margin: 0 auto;
    max-width: 70%;
    height: 600px;
  }

  .flex-container,
  .container-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding: 20px;
  }

  #image {
    content: url("images/illustration-sign-up-desktop.svg");
  }

  .text-div {
    padding: 5px 60px;
  }

  .text-div h2 {
    font-size: 3.5rem;
  }

  .text-div p {
    margin-top: -1.2em;
  }

  .email-div {
    margin-top: 4em;
  }

  #subscribe-button {
    margin-top: 1.75em;
  }

  .container-2 {
    height: 400px;
    width: 400px;
    padding: 40px;
  }

  #dismiss-button {
    margin-top: 3em;
  }
}